@model List<BookApp.Models.Book>

@{
    ViewData["Title"] = "Список книг";
}

<h2>Список книг</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Год</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Year</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary">Добавить книгу</a>
